body {
    font-family: Arial, sans-serif;
    background-color: rgba(145, 32, 32, 0.96);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#container {
    background-color: #803838;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    color: white;
}

#buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    background-color: #492121;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px; /* Bordas arredondadas estilo botão de videogame */
    cursor: pointer;
    width: 18%; /* Um pouco menor */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 0 #210f0f, 0 6px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.15s ease-in-out;
    position: relative;
    text-align: center;
    outline: none;
}

button:hover {
    background-color: #752c2c;
    box-shadow: 0 3px 0 #211010, 0 4px 10px rgba(0, 0, 0, 0.3);
}

button:active {
    background-color: #803838;
    box-shadow: 0 2px 0 #211010;
    transform: translateY(2px) scale(0.98); /* Simula um clique */
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}



.tab {
    display: none;
}

.tab.active {
    display: block;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#list-content {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas, cada uma com largura igual */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 10px; /* Espaçamento ao redor dos cards */
}

.board-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px; /* Bordas arredondadas para estilo de card */
    padding: 20px;
    margin: 10px;
    display: inline-grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 25%;
    color: #210f0f;
}

.board-item:hover {
    transform: translateY(-10px); /* Efeito de "flutuar" ao passar o mouse */
}

.board-item img {
    max-width: 100%; /* Faz a imagem ocupar toda a largura do card */
    width: 200px;   /* Define a largura da imagem */
    height: 200px;  /* Define a altura da imagem */
    object-fit: cover; /* Mantém a proporção da imagem ao recortar o excesso */
    border-radius: 8px;
    padding: 5px;
}

.board-item .board-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.board-item .board-info strong {
    font-weight: bold;
    color: #8f0013;
}


